.review-container {
    display: flex;
    margin-left: 50px;
    padding: 10px;
}

.review-container {
    display: flex;
}

.review-details-container {
    padding: 0px 30px 0px 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.review-item img {
    width: 91px;
}

.btn-delete {
    background-color: orange;
    height: 40px;
    width: 40px;
    border-radius: 30%;
    border: 0;
    font-size: 20px;
}
.btn-delete:hover{
    background-color: rgb(227, 101, 101);
}